body.dark-theme {

background:#1E1E1F;

a, span, p, h1, h2, h3, i, mark { color:#aaa; }

svg { fill:#aaa; }

.sidebar-left { background-color:#313132; }

.nav-item span { color:#ccc; }

.nav-lh svg { fill:goldenrod; }

.nav-list-expander {
  &:hover { 
    svg { fill:goldenrod; } 
  }
}

.nav-list li > .nav-list { background:#464647; }

.side-banner {
  button {
    background-color:#313132;

    &:hover { background-color:#1E1E1F; }
  }

  svg { fill:$color-aqua; }
}

#post {
  .inner-header { background:#464647; }
  .inner-content { background:#313132; }
}

.transbox { background-color:rgba(64, 64, 64, 0.6); }

.post-title,
.info-box * {
  color:#eee;
  fill :#eee;
}

main {
  h1, h2, h3, p { color:#aaa; }

  strong { color:lightgrey; }

  a { 
    color:dodgerblue; 

    &::before {
      color:mediumseagreen;
      text-decoration-color:mediumseagreen;
    }
  }

  code,
  .highlighter-rouge .highlight {
    border:1px solid dimgrey;
    background-color:#363a41;
    color:goldenrod;
  }

  blockquote {
    background:#1E1E1F;
    border-left:4px solid #464647;
  }

  table { background-color:#464647; }

  th, td { border:2px solid #3c3c3d; }
  thead th, 
  tbody td {
    color:#aaa;
  }

  hr { background:cadetblue; }

  img + em,
  li {
    color:#aaa;
  }
}

.category-tree a { color:goldenrod; }

.category-header {
  color:cadetblue;
  text-decoration:underline slategrey;
}

#article_content {
  border-bottom:2px solid #464647;

  .box_contents { background-image:none; }

  .txt_post { color:#aaa; }
  .title_post { color:darkgoldenrod; }
  .date { color:#ccc; }
  .category { color:mediumseagreen; }
}

.pagination-number,
.pagination-button {
  color:#ccc;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background:grey;
}

#search {
  background:rgba(64, 64, 64, 0.875);

  ul {
    border-bottom:2px solid #464647;

    svg { background-color:#ccc; }

    th { color:#ccc; }

    &::-webkit-scrollbar {
      width:8px;
      background-color:grey;
    }
  }

  input, input::placeholder { color:#ccc; }
}

.search-box h1 { color:#fff; }

.input-box {
  &:before { background:#5a5a5b; }
  &:after { opacity:0.5; }
}

.result-item{
  border:1px solid #464647;
  background:#313132;

  &:hover { background:$color-wenge; }
}

.toc-header { color:darkgoldenrod; }

@include mq(tablet){

#article_content .box_contents { background-color:rgba(70, 70, 70, 0.95); }

}

@include mq(desktop) {

.sidebar-left { background:none; }

.nav-list li > .nav-list { background:none; }

}

}