---
---
$baseurl: "{{ site.baseurl }}";

$color-wenge: #66545E;
$color-beige: #F1EBE5;
$color-darkbrown: #3A241A;
$color-darkorange: #B04008;
$color-rose: #fa4251;
$color-aqua: #64c8c8;
$color-rule: burlywood;
$color-link: dodgerblue;

$sidebarwd: 18rem;
$contentwd: 54rem;

$mediawd: (
  mobile: 320px,
  tablet: 769px,
  desktop: 1025px,
  wide: 1441px,
) !default;

html, body {
  margin:0;
  padding:0;
}

.fonts-loaded {
  a, span, p, dd, dt, blockquote, legend { font-family:"Nunito Sans", 'Lucida Sans', sans-serif; }
  h1, h2, h3 { font-family:"Lato", Helvetica, sans-serif; }
  mark { font-family:'Righteous', sans-serif; }
}

a { text-decoration:none; }
a, span, p, h1, h2, h3, i, dd, dt, blockquote { color:$color-darkbrown; }
a, span, p { font-family:'Lucida Sans', sans-serif; }
h1, h2, h3, mark {
  margin:0;
  font-family:Helvetica, sans-serif;
}
mark { background-color:transparent; }

svg {
  width:16px;
  aspect-ratio:1.0;
  fill: $color-darkbrown;
  display:block;
  margin:auto;
}

button {
  border:none;
  background:none;
  padding:0;
}

/* Disable default input cancel button */
input::-ms-clear,
input::-ms-reveal{
	display:none;
  width:0;
  height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

@mixin img-rounded-thumb {
  img {
    aspect-ratio: 1;
    min-width: 8rem;
    max-width: 8rem;
    object-fit: cover;
    border-radius: 18px;
  }
}

@import 'layout';

:root{
  --pagewidth-desktop:calc(max(min(100vw - #{$sidebarwd} - 2rem, #{$contentwd}), 44rem));
}

@import "sidebar";
@import "navigation";
@import "pagination";
@import "toc";
@import "post";
@import "search";
@import "darkmode";
@import "character";