---
layout: default
---
  <head>
    <link rel="stylesheet" href="{{ '/assets/css/character.css' | relative_url }}">
  </head>

  <header class="character-box">
    {% if page.image %}
    <div class="character-portrait">
      <img
        src="{{ page.image | relative_url }}"
        alt="{{ page.name }}"
      >
    </div>
    {% endif %}

    <div class="character-info">
      <h1>{{ page.name }}</h1>

      <dl class="character-detail">
      <dt>Gender</dt> <dd>{{ page.gender }}</dd>
      <dt>Pronouns</dt> <dd>{{ page.pronouns }}</dd>

      <dt></dt> <dd></dd>  

      {% if page.profession %}
        <dt>Profession</dt> <dd>{{ page.profession }}</dd>
      {% endif %}

      {% if page.affiliation %}
        <dt>Affiliation</dt> <dd>{{ page.affiliation }}</dd>
      {% endif %}

      </dl>
    </div>

  </header>

 
{% if page.about or page.skills %}

  <div>
    {% if page.skills %}
        <h2>About</h2>
        {{ page.about | markdownify }}
    {% endif %}

  {% if page.skills %}
    {% assign full_star = "★" %}
    {% assign empty_star = "☆" %}

    <h2>Skills</h2>
    <div class="skill-box">
      {% for skill in page.skills %}
        {% assign text = "" %}

        {% for i in (1..5) %}
          {% if i <= skill.value %}
            {% assign text = text | append: full_star %}
          {% else %}
            {% assign text = text | append: empty_star %}
          {% endif %}
        {% endfor %}
        <dl class="skill-field">
        <dt>{{ skill.name }}</dt> <dd>{{ text }}</dd>
        </dl>
      {% endfor %}
    </div>
  {% endif %}
    </div>
{% endif %}

  
  {% if page.relationships %}
  <div>
      <h2>Relationships</h2>

      {% for relationship in page.relationships %}
          <img
          src="{{ relationship.image | relative_url }}"
          alt="{{ relationship.name }}"
          >
          <h3>{{ relationship.name }}</h3>
          <p>{{ relationship.type }}</p>
      {% endfor %}
  </div>
  {% endif %}
