---
layout: default
---
  <head>
    <link rel="stylesheet" href="{{ '/assets/css/character.css' | relative_url }}">
  </head>

  <header class="character-box">
    <div class="character-portrait">
      <img
        src="{{site.baseurl}}/assets/img/characters/{{page.uid}}.png"
        alt="{{ page.name }}"
      >
    </div>

    <div class="character-info">
      <h1>{{ page.name }}</h1>

      <dl class="character-detail">
      {% if page.gender %}
      <dt>Gender</dt> <dd>{{ page.gender }}</dd>
      {% endif %}

      {% if page.pronouns %}
      <dt>Pronouns</dt> <dd>{{ page.pronouns }}</dd>
      {% endif %}

      {% if page.profession %}
        <dt>Profession</dt> <dd>{{ page.profession }}</dd>
      {% endif %}

      {% if page.affiliation %}
        <dt>Affiliation</dt> <dd>{{ page.affiliation }}</dd>
      {% endif %}

      </dl>
    </div>

  </header>

  {% if page.artfight %}
  <hr>
    <div class="character-extra">
      <ul>
        <li> <a href="{{ page.artfight }}">Artfight</a> </li>
      </ul>
    </div>
  <hr>
  {% endif %}
 
{% if page.about or page.skills %}

  <div>
    {% if page.skills %}
        <h2>About</h2>
        {{ page.about | markdownify }}
    {% endif %}

  {% if page.skills %}
    {% assign full_star = "★" %}
    {% assign empty_star = "☆" %}

    <h2>Skills</h2>
    <div style="justify-items: center;">
    <div class="skill-box">
      {% for skill in page.skills %}
        {% assign text = "" %}

        {% for i in (1..5) %}
          {% if i <= skill.value %}
            {% assign text = text | append: full_star %}
          {% else %}
            {% assign text = text | append: empty_star %}
          {% endif %}
        {% endfor %}
        <dl class="skill-field">
        <dt>{{ skill.name }}</dt> <dd>{{ text }}</dd>
        </dl>
      {% endfor %}
    </div>
    </div>
  {% endif %}
    </div>
{% endif %}

  
  {% if page.relationships %}
  <div>
      <h2>Relationships</h2>

      {% for target in site.characters %}
      {% assign relationship = page.relationships[target.uid] %}

      {% if relationship %}

        <fieldset>
                <legend><h3><a href="{{site.baseurl}}/characters/{{target.uid}}">{{ target.name }}</a></h3></legend>
                <div class="relationship-container">

                <!-- self view -->
                <div class="relationship-content">
                    <div class="relationship-thumb">
                        <img src="{{site.baseurl}}/assets/img/characters/thumb/{{page.uid}}.png" alt="{{ page.name }}">
                    </div>

                    <div class="relationship-text">
                        <blockquote> {{ relationship.description }} </blockquote> 
                         <p> {{ relationship.type }} </p> 
                    </div>
                </div>

                <!-- other view -->
                <div class="relationship-content">
                  <div class="relationship-text">
                        <blockquote> {{ target.relationships[page.uid].description }} </blockquote> 
                        <p> {{ target.relationships[page.uid].type }} </p> 
                  </div>
                  <div class="relationship-thumb">
                    <img src="{{site.baseurl}}/assets/img/characters/thumb/{{target.uid}}.png" alt="{{ target.name }}">
                  </div>
                </div>
                </div>

         </fieldset>
         {% endif %}
      {% endfor %}
  </div>
  {% endif %}